body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666;
    height: 100%;
}

.content {
    margin: auto;
    max-width: 768px;
    padding: 0 1em;
    margin-bottom: 2em;
}

.brand > h2 {
    text-align: left;
    color: #1F8DD6;
    font-weight: 300;
    font-size: 400%;
    margin: 0;
    padding: 0;
}

.brand > h2 > .help {
    color:#666;
}

.hero {
    padding: 3em 0;
    text-align: center;
    background: #fff;
}

.hero-title {
    margin: auto;
    max-width: 768px;
    padding: 0 1em;
}

.hero-title > h1 {
    color: #1F8DD6;
    font-weight: 300;
    font-size: 800%;
    margin: 0;
    padding: 0;
}

.hero-title > h2 {
    padding: 0 2em 1em 2em;
    font-size: 250%;
    font-weight: 300;
}

.hero-title > p {
    padding: 0 2em;
    font-size: 150%;
}

.footer {
    padding: 0 1em;
    text-align: center;
    border-top: 1px solid #DDD;
}
