{% extends 'base.html' %}

{% block content %}
<div class="brand">
    <h2>Evente<b>X</b> <span class="help">Inscrição</span></h2>
</div>
<form action="." method="POST" class="pure-form pure-form-aligned">
    {% csrf_token %}
    <fieldset>
        <div class="pure-control-group">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="pure-control-group">
            <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
            {{ form.cpf }}
            {{ form.cpf.errors }}
        </div>
        <div class="pure-control-group">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="pure-control-group">
            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>
        <div class="pure-control-group">
            <label for=""></label>
            <button class="pure-button pure-button-primary">Enviar</button>
        </div>

    </fieldset>
</form>
{% endblock %}
