{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventeX</title>

    <link rel="stylesheet" href="{% static "css/pure-min.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="https://github.com/rougeth/wttd">Github</a></li>
            <li><a href="https://twitter.com/marcorougeth">Twitter</a></li>
        </ul>
    </div>
    <div id="header">
        <div class="hero">
            <div class="hero-title">
                <h1>Evente<b>X</b></h1>
                <h2>O evento mais sensacional do ano depois do Dev in Rio!</h2>
                <p>Abertura das inscrições no próximo domingo!</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Para dúvidas e mais informações entre em contato com eventex@eventex.com.br</p>
    </div>
</body>

</body>
</html>
